/* give your assignment a fun background color */
body{
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(circle at center center, #D6CCC2, #D6CCC2), repeating-radial-gradient(circle at center center, #444cf7, #444cf7, 10px, transparent 20px, transparent 10px);
  background-blend-mode: multiply;
height: 100vh;
}
header{
  text-align: center;
}
